body {
    margin: 20px 40px;
}
circle {
    r: 5;
    fill: black;
    transition: r 0.5s linear, fill 0.5s linear;
}
circle:hover {
    r:10;
    fill: blue;
}
circle:active {
    fill: red;
}
#container {
     overflow: visible;
     margin-bottom: 20px;
     margin-left: 30px;
 }

 table, th, td {
    border: 1px solid black;
 }
 th, td {
     padding:10px;
     text-align: center;
 }
